<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Edureka Angular App with User/Admin Role based Authentication</p>
        <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        <p>Accessed by <u>only authenticated users</u>.</p>
        <p class="mb-1">Current User </p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div>